<br />
<br />
<div class="container">
  <div class="row">
    <div class="col-sm text-center">
      <img src="assets/images/nail-technician.jpg" alt="Alana Nails Salon" />
    </div>
    <div class="col-sm">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus, iusto
      assumenda iste fugiat in corporis deserunt quis sit natus provident
      asperiores atque! Hic animi nobis deserunt, tempora dolorum ad! Optio
      perferendis magni ex, harum quo iusto nesciunt dolore earum dolor autem
      debitis in dolorum officia ut non officiis, tempore pariatur?
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus, iusto
      assumenda iste fugiat in corporis deserunt quis sit natus provident
      asperiores atque! Hic animi nobis deserunt, tempora dolorum ad! Optio
      perferendis magni ex, harum quo iusto nesciunt dolore earum dolor autem
      debitis in dolorum officia ut non officiis, tempore pariatur?
    </div>
    <div class="col-sm text-center">
      <img src="assets/images/nail-technician.jpg" alt="Alana Nails Salon" />
    </div>
  </div>
</div>
