<div
  id="hero-background-image"
  class="p-5 text-center bg-body-tertiary fade-in-right"
>
  <div class="container text-start animate-left">
    <h1 class="text-body-emphasis">Who am I?</h1>
  </div>
</div>
<br />

<div class="container">
  <h1 class="display-5">Your hands, at a glance.</h1>
  <br />
  <div class="row">
    <div class="col-sm text-center">
      <img
        class="shadow-1-strong rounded"
        src="assets/images/about-photo.jpg"
        alt="Alana Nails Salon"
      />
    </div>
    <div class="col-sm lh-lg">
      Hello! My name is Milyuris, and I'm thankful to be fulfilling my dream of
      becoming a proud nail technician. Alana Nails Studio started with one
      mission: help people find innovation in the display of their hands.
      Whether with acrylics, gels or a simple manicure, I'm pleased to serve
      your nails.
    </div>
  </div>
  <br /><br />
  <h1 class="display-5 text-center">Always eager to learn.</h1>
  <br />
  <div class="row">
    <div class="col-sm lh-lg">
      As a dedicated nail technician, I am proud to hold certifications from the
      American Association of Nail Technicians (AANT) and the International Nail
      Technicians Association (INTA). These certifications validate my
      proficiency in a wide range of nail care techniques including acrylics,
      gels, and nail artistry. My commitment to staying updated with the latest
      trends enables me to offer my clients innovative and personalized nail
      care solutions.
    </div>
    <div class="col-sm text-center">
      <img
        class="shadow-1-strong rounded"
        id="photo-certificate"
        src="assets/images/certificate.jpg"
        alt="certificate"
      />
    </div>
  </div>
  <br />
  <br />
  <h1 class="display-5">Honoring a joyful companion.</h1>
  <br />
  <div class="row">
    <div class="col-sm text-center">
      <img
        class="shadow-1-strong"
        id="alana"
        src="assets/images/alana.jpg"
        alt="certificate"
      />
    </div>
    <div class="col-sm lh-lg">
      Alana Nails Studio is named after our playful dog, Alana the lab. Seeing
      her tail wagging and hearing her barking would always put a smile in our
      face. Her friendliness and welcoming attributes capture the essence of
      this studio and make up its foundations. After all, a smile is all it
      takes to change someone's day.
    </div>
  </div>
</div>
