<div
  id="hero-background-image"
  class="p-5 text-center bg-body-tertiary fade-in-right"
>
  <div class="container text-start animate-left">
    <h1 class="text-body-emphasis">List of services</h1>
  </div>
</div>
<div class="container px-4 py-5" id="custom-cards">
  <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
    <div class="col">
      <div
        class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
        style="
          background-image: url('assets/images/services/acrylic-nails.png');
          background-size: cover;
        "
      >
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <h3
            class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold"
            style="text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.474)"
          >
            Nail sets
          </h3>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              <img
                src="assets\images\nail studio logo.png"
                alt="Bootstrap"
                width="50"
                height="50"
                class="rounded-circle border"
              />
            </li>
            <li class="d-flex align-items-center me-3">
              <svg class="bi me-2" width="1em" height="1em">
                <use xlink:href="#geo-fill" />
              </svg>
              <small></small>
            </li>
            <li class="d-flex align-items-center">
              <svg class="bi me-2" width="1em" height="1em">
                <use xlink:href="#calendar3" />
              </svg>
              <small>Acrylic or Gel</small>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col">
      <div
        class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
        style="
          background-image: url('assets/images/services/maintenance.webp');
          background-size: cover;
        "
      >
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <h3
            class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold"
            style="text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.474)"
          >
            Maintenance
          </h3>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              <img
                src="assets\images\nail studio logo.png"
                alt="Bootstrap"
                width="50"
                height="50"
                class="rounded-circle border"
              />
            </li>
            <li class="d-flex align-items-center me-3">
              <svg class="bi me-2" width="1em" height="1em">
                <use xlink:href="#geo-fill" />
              </svg>
            </li>
            <li class="d-flex align-items-center">
              <svg class="bi me-2" width="1em" height="1em">
                <use xlink:href="#calendar3" />
              </svg>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col">
      <div
        class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
        style="
          background-image: url('assets/images/services/polish.jpg');
          background-size: cover;
        "
      >
        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
          <h3
            class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold text-white"
            style="text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.474)"
          >
            Polish
          </h3>

          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              <img
                src="assets\images\nail studio logo.png"
                alt="Bootstrap"
                width="50"
                height="50"
                class="rounded-circle border"
              />
            </li>
            <li class="d-flex align-items-center me-3">
              <svg class="bi me-2" width="1em" height="1em">
                <use xlink:href="#geo-fill" />
              </svg>
            </li>
            <li class="d-flex align-items-center">
              <svg class="bi me-2" width="1em" height="1em">
                <use xlink:href="#calendar3" />
              </svg>
              <small style="text-shadow: 2px 2px 8px black; color: white"
                >optional dipping or rubber hardening</small
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col">
      <div
        class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
        style="
          background-image: url('assets/images/services/removal.jpg');
          background-size: cover;
        "
      >
        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
          <h3
            class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold text-white"
            style="text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.474)"
          >
            Removal services
          </h3>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              <img
                src="assets\images\nail studio logo.png"
                alt="Bootstrap"
                width="50"
                height="50"
                class="rounded-circle border"
              />
            </li>
            <li class="d-flex align-items-center me-3">
              <svg class="bi me-2" width="1em" height="1em">
                <use xlink:href="#geo-fill" />
              </svg>
            </li>
            <li class="d-flex align-items-center">
              <svg class="bi me-2" width="1em" height="1em">
                <use xlink:href="#calendar3" />
              </svg>
              <small style="text-shadow: 3px 3px 8px black; color: white"
                >Remove polish or nail set</small
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-lg-6">
      <div id="price-card" class="card" style="width: 18rem">
        <div class="card-header text-center">Featured</div>
        <ul class="list-group list-group-flush">
          <li
            *ngFor="let service of servicesOffered"
            class="list-group-item text-center"
          >
            <span>{{ service.name }} -</span> {{ service.price }}
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-12 col-lg-6">
      <div class="card text-center" style="width: 300px; margin: auto">
        <div class="card-body" style="width: 300px">
          <h5 class="card-title">Have a design in mind?</h5>
          <p class="card-text">
            Designs are included with a new set of nails or polish. Feel free to
            share your suggestions!
          </p>
          <a href="#" class="btn btn-primary" routerLink="/contact"
            >Let's connect!</a
          >
        </div>
      </div>
    </div>
  </div>
</div>

<br />
