h3 {
  text-align: center;
}

.form {
  width: 300px;
  margin: auto;
  color: azure;
  background-color: transparent;
  padding: 50px;
  outline-width: 1px;
  outline-color: azure;
  outline-style: solid;
  border-radius: 5pt;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.blurredbackground {
  backdrop-filter: blur(50px);
}

.form-control,
.form-select {
  background-color: transparent;
  color: grey;
}
