h3 {
  text-align: center;
}

.form {
  width: 400px;
  margin: auto;
  color: azure;
  background-color: rgba(128, 128, 128, 0.572);
  padding: 50px;
  outline-width: 1px;
  outline-color: azure;
  outline-style: solid;
  border-radius: 5pt;
}

.blurredbackground {
  backdrop-filter: blur(50px);
}

button {
  margin-left: 100px;
}
.form-control,
.form-select {
  background-color: transparent;
  color: grey;
}
