<form
  (ngSubmit)="sendEmail(ContactForm)"
  #ContactForm="ngForm"
  class="form form-text blurredbackground"
>
  <h5>
    Thank you for your interest in my services. Kindly complete the form below
    and I'll try to answer within a day!
  </h5>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Name</label>
    <input
      type="text"
      class="form-control"
      name="name"
      id="name"
      placeholder="Please fill up your name."
      ngModel
    />
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label"
        >Email address</label
      >
      <input
        type="email"
        class="form-control"
        name="email"
        id="exampleFormControlInput1"
        placeholder="name@example.com"
        ngModel
      />
    </div>
    <div class="mb-3">
      <label for="phone" class="form-label">Phone</label>
      <input
        type="tel"
        class="form-control"
        name="phone"
        id="phone"
        placeholder="Please enter a phone number."
        ngModel
      />
    </div>

    <label for="form-select" class="form-label"
      >What type of service are you looking for?</label
    >
    <select
      class="form-select"
      name="service_type"
      aria-label="Default select example"
      ngModel
      (change)="serviceChanged($event)"
    >
      <option selected>Select</option>
      <option *ngFor="let service of services" [value]="service.id">
        {{ service.name }}
      </option>
    </select>
  </div>
  <label *ngIf="selectedAddons.length" class="form-label">Add-ons</label>
  <div *ngFor="let addon of selectedAddons; let i = index" class="form-check">
    <input
      (change)="addonChanged($event)"
      class="form-check-input"
      type="checkbox"
      [value]="addon"
      id="flexCheckDefault"
    />
    <label class="form-check-label" for="flexCheckDefault">
      {{ addon }}
    </label>
  </div>

  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label"
      >Any additional information? <br />
      <span style="font-size: x-small"
        >i.e. additional services, design requests...</span
      >
    </label>
    <textarea
      class="form-control"
      name="information"
      id="exampleFormControlTextarea1"
      rows="3"
      ngModel
    ></textarea>
  </div>
  <button class="btn btn-outline-light" type="submit">Submit</button>
  <div *ngIf="formStatus">{{ formStatus }}</div>
</form>
